power-automate/complete-status.json
{
   "properties":{
      "connectionReferences":{
         "shared_azureeventgrid":{
            "runtimeSource":"embedded",
            "connection":{
               "connectionReferenceLogicalName":"new_sharedazureeventgrid_eb194"
            },
            "api":{
               "name":"shared_azureeventgrid"
            }
         }
      },
      "definition":{
         "$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
         "contentVersion":"1.0.0.0",
         "parameters":{
            "$connections":{
               "defaultValue":{
                  
               },
               "type":"Object"
            },
            "$authentication":{
               "defaultValue":{
                  
               },
               "type":"SecureObject"
            }
         },
         "triggers":{
            "manual":{
               "type":"Request",
               "kind":"VirtualAgent",
               "inputs":{
                  "schema":{
                     "type":"object",
                     "properties":{
                        "text":{
                           "title":"folder",
                           "type":"string",
                           "x-ms-dynamically-added":true,
                           "description":"Enter an input",
                           "x-ms-content-hint":"TEXT"
                        }
                     },
                     "required":[
                        "text"
                     ]
                  }
               }
            }
         },
         "actions":{
            "HTTP":{
               "runAfter":{
                  "Initialize_variable_2":[
                     "Succeeded"
                  ]
               },
               "type":"Http",
               "inputs":{
                  "method":"POST",
                  "uri":"https://forms-entities.azurewebsites.net/api/orchestrators/invoice_forms_orch?code=BK4LzMdBIHNgmbkvVSW91yHcoul4TgzU6DCXHoxf5zsbHMqtDf7c3A==",
                  "body":{
                     "path":"/Hello/@{triggerBody()['text']}"
                  }
               }
            },
            "Return_value(s)_to_Power_Virtual_Agents":{
               "runAfter":{
                  "Apply_to_each":[
                     "Succeeded"
                  ]
               },
               "type":"Response",
               "kind":"VirtualAgent",
               "inputs":{
                  "statusCode":200,
                  "body":{
                     "response":"@{variables('ProcessedFiles')}/ @{variables('TotalFiles')}  files have been processed. ",
                     "nouploads":"@{variables('TotalFiles')}"
                  },
                  "schema":{
                     "type":"object",
                     "properties":{
                        "response":{
                           "title":"Response",
                           "x-ms-dynamically-added":true,
                           "type":"string"
                        },
                        "nouploads":{
                           "title":"NoUploads",
                           "x-ms-dynamically-added":true,
                           "type":"string"
                        }
                     }
                  }
               }
            },
            "Initialize_variable_2":{
               "runAfter":{
                  "Initialize_variable":[
                     "Succeeded"
                  ]
               },
               "type":"InitializeVariable",
               "inputs":{
                  "variables":[
                     {
                        "name":"TotalFiles",
                        "type":"integer"
                     }
                  ]
               }
            },
            "Initialize_variable":{
               "runAfter":{
                  
               },
               "type":"InitializeVariable",
               "inputs":{
                  "variables":[
                     {
                        "name":"ProcessedFiles",
                        "type":"integer"
                     }
                  ]
               }
            },
            "When_a_resource_event_occurs":{
               "runAfter":{
                  "Initialize_variable_2":[
                     "Succeeded"
                  ]
               },
               "limit":{
                  "timeout":"P0Y0M0DT0H1M25S"
               },
               "type":"OpenApiConnectionWebhook",
               "inputs":{
                  "host":{
                     "connectionName":"shared_azureeventgrid",
                     "operationId":"CreateSubscription",
                     "apiId":"/providers/Microsoft.PowerApps/apis/shared_azureeventgrid"
                  },
                  "parameters":{
                     "subscriptionId":"70fb90d6-a48f-4384-8007-3c61dbc71a53",
                     "resourceType":"Microsoft.EventGrid.Topics",
                     "body/properties/topic":"/subscriptions/70fb90d6-a48f-4384-8007-3c61dbc71a53/resourceGroups/mltrainingtrial/providers/Microsoft.EventGrid/topics/eventgridcustomtrial"
                  },
                  "authentication":"@parameters('$authentication')"
               }
            },
            "Apply_to_each":{
               "foreach":"@outputs('When_a_resource_event_occurs')?['body']",
               "actions":{
                  "Parse_JSON":{
                     "runAfter":{
                        
                     },
                     "type":"ParseJson",
                     "inputs":{
                        "content":"@items('Apply_to_each')?['data']",
                        "schema":{
                           "type":"object",
                           "properties":{
                              "headers":{
                                 "type":"object",
                                 "properties":{
                                    "Connection":{
                                       "type":"string"
                                    },
                                    "Accept-Encoding":{
                                       "type":"string"
                                    },
                                    "Host":{
                                       "type":"string"
                                    },
                                    "aeg-subscription-name":{
                                       "type":"string"
                                    },
                                    "aeg-delivery-count":{
                                       "type":"string"
                                    },
                                    "aeg-data-version":{
                                       "type":"string"
                                    },
                                    "aeg-metadata-version":{
                                       "type":"string"
                                    },
                                    "aeg-event-type":{
                                       "type":"string"
                                    },
                                    "Content-Length":{
                                       "type":"string"
                                    },
                                    "Content-Type":{
                                       "type":"string"
                                    }
                                 }
                              },
                              "body":{
                                 "type":"array",
                                 "items":{
                                    "type":"object",
                                    "properties":{
                                       "id":{
                                          "type":"string"
                                       },
                                       "subject":{
                                          "type":"string"
                                       },
                                       "data":{
                                          "type":"object",
                                          "properties":{
                                             "topic":{
                                                "type":"string"
                                             },
                                             "evt":{
                                                "type":"string"
                                             },
                                             "src":{
                                                "type":"string"
                                             },
                                             "data":{
                                                "type":"string"
                                             },
                                             "current_file":{
                                                "type":"integer"
                                             },
                                             "total_files":{
                                                "type":"integer"
                                             }
                                          }
                                       },
                                       "eventType":{
                                          "type":"string"
                                       },
                                       "dataVersion":{
                                          "type":"string"
                                       },
                                       "metadataVersion":{
                                          "type":"string"
                                       },
                                       "eventTime":{
                                          "type":"string"
                                       },
                                       "topic":{
                                          "type":"string"
                                       }
                                    },
                                    "required":[
                                       "id",
                                       "subject",
                                       "data",
                                       "eventType",
                                       "dataVersion",
                                       "metadataVersion",
                                       "eventTime",
                                       "topic"
                                    ]
                                 }
                              }
                           }
                        }
                     }
                  },
                  "Apply_to_each_2":{
                     "foreach":"@outputs('When_a_resource_event_occurs')?['body']",
                     "actions":{
                        "Set_variable":{
                           "runAfter":{
                              
                           },
                           "type":"SetVariable",
                           "inputs":{
                              "name":"ProcessedFiles",
                              "value":"@items('Apply_to_each_2')?['data']?['current_file']"
                           }
                        },
                        "Set_variable_2":{
                           "runAfter":{
                              "Set_variable":[
                                 "Succeeded"
                              ]
                           },
                           "type":"SetVariable",
                           "inputs":{
                              "name":"TotalFiles",
                              "value":"@items('Apply_to_each_2')?['data']?['total_files']"
                           }
                        }
                     },
                     "runAfter":{
                        "Parse_JSON":[
                           "Succeeded"
                        ]
                     },
                     "type":"Foreach"
                  }
               },
               "runAfter":{
                  "When_a_resource_event_occurs":[
                     "Succeeded"
                  ]
               },
               "type":"Foreach"
            }
         },
         "outputs":{
            
         }
      }
   },
   "schemaVersion":"1.0.0.0"
}
