power-automate/complete-status.json
{
   "properties":{
      "connectionReferences":{
         "shared_azureeventgrid":{
            "runtimeSource":"embedded",
            "connection":{
               "connectionReferenceLogicalName":"new_sharedazureeventgrid_eb194"
            },
            "api":{
               "name":"shared_azureeventgrid"
            }
         }
      },
      "definition":{
         "$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
         "contentVersion":"1.0.0.0",
         "parameters":{
            "$connections":{
               "defaultValue":{
                  
               },
               "type":"Object"
            },
            "$authentication":{
               "defaultValue":{
                  
               },
               "type":"SecureObject"
            }
         },
         "triggers":{
            "manual":{
               "type":"Request",
               "kind":"VirtualAgent",
               "inputs":{
                  "schema":{
                     "type":"object",
                     "properties":{
                        "text":{
                           "title":"folder",
                           "type":"string",
                           "x-ms-dynamically-added":true,
                           "description":"Enter an input",
                           "x-ms-content-hint":"TEXT"
                        }
                     },
                     "required":[
                        "text"
                     ]
                  }
               }
            }
         },
         "actions":{
            "HTTP":{
               "runAfter":{
                  "Initialize_variable_3":[
                     "Succeeded"
                  ]
               },
               "type":"Http",
               "inputs":{
                  "method":"POST",
                  "uri":"https://forms-entities.azurewebsites.net/api/orchestrators/invoice_forms_orch?code=BK4LzMdBIHNgmbkvVSW91yHcoul4TgzU6DCXHoxf5zsbHMqtDf7c3A==",
                  "body":{
                     "path":"/Hello/@{triggerBody()['text']}"
                  }
               }
            },
            "Return_value(s)_to_Power_Virtual_Agents":{
               "runAfter":{
                  "Apply_to_each":[
                     "Succeeded"
                  ]
               },
               "type":"Response",
               "kind":"VirtualAgent",
               "inputs":{
                  "statusCode":200,
                  "body":{
                     "response":"@{variables('ProcessedFiles')}/ @{variables('TotalFiles')}  files have been processed  of JobID:@{variables('JobID')}"
                  },
                  "schema":{
                     "type":"object",
                     "properties":{
                        "response":{
                           "title":"Response",
                           "x-ms-dynamically-added":true,
                           "type":"string"
                        }
                     }
                  }
               }
            },
            "Initialize_variable_2":{
               "runAfter":{
                  "Initialize_variable":[
                     "Succeeded"
                  ]
               },
               "type":"InitializeVariable",
               "inputs":{
                  "variables":[
                     {
                        "name":"TotalFiles",
                        "type":"integer"
                     }
                  ]
               }
            },
            "When_a_resource_event_occurs_2":{
               "runAfter":{
                  "Initialize_variable_3":[
                     "Succeeded"
                  ]
               },
               "limit":{
                  "timeout":"P0Y0M0DT0H5M0S"
               },
               "type":"OpenApiConnectionWebhook",
               "inputs":{
                  "host":{
                     "connectionName":"shared_azureeventgrid",
                     "operationId":"CreateSubscription",
                     "apiId":"/providers/Microsoft.PowerApps/apis/shared_azureeventgrid"
                  },
                  "parameters":{
                     "subscriptionId":"70fb90d6-a48f-4384-8007-3c61dbc71a53",
                     "resourceType":"Microsoft.EventGrid.Topics",
                     "body/properties/topic":"/subscriptions/70fb90d6-a48f-4384-8007-3c61dbc71a53/resourceGroups/mltrainingtrial/providers/Microsoft.EventGrid/topics/eventgridcustomtrial"
                  },
                  "authentication":"@parameters('$authentication')"
               }
            },
            "Apply_to_each":{
               "foreach":"@outputs('When_a_resource_event_occurs_2')?['body']",
               "actions":{
                  "Parse_JSON":{
                     "runAfter":{
                        
                     },
                     "type":"ParseJson",
                     "inputs":{
                        "content":"@items('Apply_to_each')?['data']",
                        "schema":{
                           "type":"object",
                           "properties":{
                              "subject":{
                                 "type":"string"
                              },
                              "eventType":{
                                 "type":"string"
                              },
                              "dataVersion":{
                                 "type":"string"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "current_file":{
                                       "type":"integer"
                                    },
                                    "total_files":{
                                       "type":"integer"
                                    },
                                    "data":{
                                       "type":"string"
                                    },
                                    "jobID":{
                                       "type":"string"
                                    }
                                 }
                              }
                           }
                        }
                     }
                  },
                  "Set_variable":{
                     "runAfter":{
                        "Parse_JSON":[
                           "Succeeded"
                        ]
                     },
                     "type":"SetVariable",
                     "inputs":{
                        "name":"ProcessedFiles",
                        "value":"@body('Parse_JSON')?['data']?['current_file']"
                     }
                  },
                  "Set_variable_2":{
                     "runAfter":{
                        "Set_variable":[
                           "Succeeded"
                        ]
                     },
                     "type":"SetVariable",
                     "inputs":{
                        "name":"TotalFiles",
                        "value":"@body('Parse_JSON')?['data']?['total_files']"
                     }
                  },
                  "Set_variable_3":{
                     "runAfter":{
                        "Set_variable_2":[
                           "Succeeded"
                        ]
                     },
                     "type":"SetVariable",
                     "inputs":{
                        "name":"JobID",
                        "value":"@body('Parse_JSON')?['data']?['jobID']"
                     }
                  }
               },
               "runAfter":{
                  "When_a_resource_event_occurs_2":[
                     "Succeeded"
                  ]
               },
               "type":"Foreach"
            },
            "Initialize_variable":{
               "runAfter":{
                  
               },
               "type":"InitializeVariable",
               "inputs":{
                  "variables":[
                     {
                        "name":"ProcessedFiles",
                        "type":"integer"
                     }
                  ]
               }
            },
            "Initialize_variable_3":{
               "runAfter":{
                  "Initialize_variable_2":[
                     "Succeeded"
                  ]
               },
               "type":"InitializeVariable",
               "inputs":{
                  "variables":[
                     {
                        "name":"JobID",
                        "type":"string"
                     }
                  ]
               }
            }
         },
         "outputs":{
            
         }
      }
   },
   "schemaVersion":"1.0.0.0"
}
