power-automate/recursive.json
{
   "properties":{
      "connectionReferences":{
         "shared_azureeventgrid":{
            "runtimeSource":"embedded",
            "connection":{
               "connectionReferenceLogicalName":"new_sharedazureeventgrid_eb194"
            },
            "api":{
               "name":"shared_azureeventgrid"
            }
         }
      },
      "definition":{
         "$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
         "contentVersion":"1.0.0.0",
         "parameters":{
            "$connections":{
               "defaultValue":{
                  
               },
               "type":"Object"
            },
            "$authentication":{
               "defaultValue":{
                  
               },
               "type":"SecureObject"
            }
         },
         "triggers":{
            "manual":{
               "type":"Request",
               "kind":"VirtualAgent",
               "inputs":{
                  "schema":{
                     "type":"object",
                     "properties":{
                        
                     },
                     "required":[
                        
                     ]
                  }
               }
            }
         },
         "actions":{
            "Return_value(s)_to_Power_Virtual_Agents":{
               "runAfter":{
                  "Set_variable_3":[
                     "Succeeded"
                  ]
               },
               "type":"Response",
               "kind":"VirtualAgent",
               "inputs":{
                  "statusCode":200,
                  "body":{
                     "ttl":"@{variables('Processed')}/@{variables('Total')} files have been processed",
                     "filesleft":"@{variables('Files_Left')}"
                  },
                  "schema":{
                     "type":"object",
                     "properties":{
                        "ttl":{
                           "title":"Ttl",
                           "x-ms-dynamically-added":true,
                           "type":"string"
                        },
                        "filesleft":{
                           "title":"FilesLeft",
                           "x-ms-dynamically-added":true,
                           "type":"string"
                        }
                     }
                  }
               }
            },
            "Initialize_variable":{
               "runAfter":{
                  
               },
               "type":"InitializeVariable",
               "inputs":{
                  "variables":[
                     {
                        "name":"Processed",
                        "type":"integer",
                        "value":0
                     }
                  ]
               }
            },
            "Initialize_variable_3":{
               "runAfter":{
                  "Initialize_variable_2":[
                     "Succeeded"
                  ]
               },
               "type":"InitializeVariable",
               "inputs":{
                  "variables":[
                     {
                        "name":"Files_Left",
                        "type":"integer",
                        "value":0
                     }
                  ]
               }
            },
            "Initialize_variable_2":{
               "runAfter":{
                  "Initialize_variable":[
                     "Succeeded"
                  ]
               },
               "type":"InitializeVariable",
               "inputs":{
                  "variables":[
                     {
                        "name":"Total",
                        "type":"integer",
                        "value":0
                     }
                  ]
               }
            },
            "When_a_resource_event_occurs":{
               "runAfter":{
                  "Initialize_variable_3":[
                     "Succeeded"
                  ]
               },
               "limit":{
                  "timeout":"P0Y0M0DT0H1M30S"
               },
               "type":"OpenApiConnectionWebhook",
               "inputs":{
                  "host":{
                     "connectionName":"shared_azureeventgrid",
                     "operationId":"CreateSubscription",
                     "apiId":"/providers/Microsoft.PowerApps/apis/shared_azureeventgrid"
                  },
                  "parameters":{
                     "subscriptionId":"70fb90d6-a48f-4384-8007-3c61dbc71a53",
                     "resourceType":"Microsoft.EventGrid.Topics",
                     "body/properties/topic":"/subscriptions/70fb90d6-a48f-4384-8007-3c61dbc71a53/resourceGroups/mltrainingtrial/providers/Microsoft.EventGrid/topics/eventgridcustomtrial"
                  },
                  "authentication":"@parameters('$authentication')"
               }
            },
            "Apply_to_each":{
               "foreach":"@outputs('When_a_resource_event_occurs')?['body']",
               "actions":{
                  "Parse_JSON":{
                     "runAfter":{
                        
                     },
                     "type":"ParseJson",
                     "inputs":{
                        "content":"@items('Apply_to_each')?['data']",
                        "schema":{
                           "type":"object",
                           "properties":{
                              "subject":{
                                 "type":"string"
                              },
                              "eventType":{
                                 "type":"string"
                              },
                              "dataVersion":{
                                 "type":"string"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "current_file":{
                                       "type":"integer"
                                    },
                                    "total_files":{
                                       "type":"integer"
                                    },
                                    "data":{
                                       "type":"string"
                                    },
                                    "jobID":{
                                       "type":"string"
                                    }
                                 }
                              }
                           }
                        }
                     }
                  },
                  "Set_variable":{
                     "runAfter":{
                        "Parse_JSON":[
                           "Succeeded"
                        ]
                     },
                     "type":"SetVariable",
                     "inputs":{
                        "name":"Processed",
                        "value":"@body('Parse_JSON')?['data']?['current_file']"
                     }
                  },
                  "Set_variable_2":{
                     "runAfter":{
                        "Set_variable":[
                           "Succeeded"
                        ]
                     },
                     "type":"SetVariable",
                     "inputs":{
                        "name":"Total",
                        "value":"@body('Parse_JSON')?['data']?['total_files']"
                     }
                  }
               },
               "runAfter":{
                  "When_a_resource_event_occurs":[
                     "Succeeded"
                  ]
               },
               "type":"Foreach"
            },
            "Set_variable_3":{
               "runAfter":{
                  "Apply_to_each":[
                     "Succeeded"
                  ]
               },
               "type":"SetVariable",
               "inputs":{
                  "name":"Files_Left",
                  "value":"@sub(variables('Total'),variables('Processed'))"
               }
            }
         },
         "outputs":{
            
         }
      }
   },
   "schemaVersion":"1.0.0.0"
}
