Power Automate/Generate_Link.json
{
  "properties": {
    "connectionReferences": {
      "shared_azureeventgridpublish_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedazureeventgridpublish_56da1"
        },
        "api": { "name": "shared_azureeventgridpublish" }
      },
      "shared_onedriveforbusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr930_sharedonedriveforbusiness_eda5b"
        },
        "api": { "name": "shared_onedriveforbusiness" }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": { "defaultValue": {}, "type": "Object" },
        "$authentication": { "defaultValue": {}, "type": "SecureObject" }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "VirtualAgent",
          "inputs": {
            "schema": { "type": "object", "properties": {}, "required": [] }
          }
        }
      },
      "actions": {
        "Return_value(s)_to_Power_Virtual_Agents": {
          "runAfter": { "Delete_file": ["Succeeded"] },
          "type": "Response",
          "kind": "VirtualAgent",
          "inputs": {
            "statusCode": 200,
            "body": {
              "url": "@body('Parse_JSON')?['final_url']",
              "foldername": "@body('Parse_JSON')?['folder_name']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "title": "URL",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "foldername": {
                  "title": "FolderName",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Publish_Event": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_azureeventgridpublish_1",
              "operationId": "PublishEvent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureeventgridpublish"
            },
            "parameters": {
              "body": [
                {
                  "id": "uploadStatus",
                  "subject": "UploadStatus",
                  "eventType": "FinalStatus",
                  "data": {
                    "uploadStatus": "Finished",
                    "finalStatus": "started"
                  }
                }
              ]
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "HTTP": {
          "runAfter": { "Publish_Event": ["Succeeded"] },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://parse-url.azurewebsites.net/api/drivelink?code=jIAp3gXank93ClH9IwbM6YPP0n9gQR5zvkC8NcptqfsinmKDzXE8Ag==",
            "body": {
              "base_url": "https://datadrills-my.sharepoint.com/personal/rpa-admin_datadrills_io/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Frpa%2Dadmin%5Fdatadrills%5Fio%2FDocuments%2FHello"
            }
          }
        },
        "Parse_JSON": {
          "runAfter": { "HTTP": ["Succeeded"] },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP')",
            "schema": {
              "type": "object",
              "properties": {
                "final_url": { "type": "string" },
                "folder_name": { "type": "string" }
              }
            }
          }
        },
        "Create_file": {
          "runAfter": { "Parse_JSON": ["Succeeded"] },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/Hello/@{body('Parse_JSON')?['folder_name']}",
              "name": "text.txt",
              "body": "123"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": { "transferMode": "Chunked" }
          }
        },
        "Delete_file": {
          "runAfter": { "Create_file": ["Succeeded"] },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "DeleteFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": { "id": "@outputs('Create_file')?['body/Id']" },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}
